<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2021 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--  属性配置-->
  <properties resource="db.properties">
    <property name="username1" value="dev_user"/>
    <property name="password1" value="F2Fa3!33TYyg"/>
  </properties>

  <!--  mybatis全局设置-->
  <settings>
    <!-- 开启二级缓存总开关 -->
    <setting name="cacheEnabled" value="true"/>

    <!--按需加载-->
    <setting name="lazyLoadingEnabled" value="true"/>
    <!--将积极加载修改为消极加载-->
    <setting name="aggressiveLazyLoading" value="false"/>
    <!--    设置一级缓存类型，默认为SESSION,而该类型会是一级缓存失效-->
    <setting name="localCacheScope" value="STATEMENT"/>
  </settings>

  <!-- 简化映射文件中parameterType和ResultType中的POJO类型名称编写-->
  <typeAliases>
    <typeAlias type="com.liucan.loda.Actor" alias="actor"/>
    <package name="com.liucan.loda"/>
  </typeAliases>

<!--  <plugins>-->
<!--    <plugin interceptor="com.liucan.loda.PageHelperPlugin"/>-->
<!--  </plugins>-->

  <environments default="development">
    <environment id="development">
      <!--      type为TransactionFactory子类的别名或者类名-->
      <transactionManager type="JDBC"/>
      <!--      type为DataSourceFactory子类的别名或者类名-->
      <dataSource type="POOLED">
        <property name="driver" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="ActorMapper.xml"/>
  </mappers>
</configuration>
